.products{
    margin: 50px 0; 
    .swiper{
        width: 100%;
        .product__card{
            width: 353px;
            border-radius: 8px;
            cursor: pointer;
            padding: 20px 25px;
            background-color: #fff;
            transition: .2s;
            border: 2px solid #fff;
            img{
                width: 283px;
                height: 283px;
                object-fit: contain;
            }
            h2{
                font-family: MOntserrat;
                font-size: 18px ;
                font-weight: 700;
                color: #1c1c1c;
                margin: 20px 0;
            }
            span{
                display: flex;
                border: 1px solid rgb(168, 168, 168);
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                p{
                    font-size: 18px;
                    padding: 14px;
                    flex: 1;
                }
                button{
                    padding: 15px;
                    width: 60px;
                    border: none;
                    display: flex;
                    justify-content: space-around;
                    font-size: 20px;
                    background-color: #E13439;
                    color: #fff;
                    font-family: Montserrat;
                    font-weight: 700;
                    border-radius: 0 10px 10px 0px;
                    transition: .3s;
                    svg{
                        font-size: 24px;
    
                    }
                }
                button:hover{
                    opacity: .7;
                }
                button:active{
                    transform: scale(.96);
                }
            }
            h4{
                display: flex;
                align-items: center;
                text-align: center;
                gap: 10px;
                margin: 20px 0;
                font-family: Montserrat;
                font-weight: 400;
                color: green;
            }
        }
        .product__card:hover{
            border: 2px solid #E13439;
        }
        // .custom-swiper-button-prev{
        //     left: 0px;
        //     position: absolute;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     -webkit-transform: translateY(-50%);
        //     cursor: pointer;
        //     z-index: 50;
        //     background-color: #000000;
        //     color: #fff;
        //     width: 40px;
        //     padding: 30px 5px 0 5px;
        //     border-radius: 0px 50px 50px 0;
        //     height: 80px;
        //     transition: .3s;
        //   }
        //   .swiper-button-next {
        //     left: auto;
        //     transition: .3s;
        //     padding: 30px 5px 0 15px;
        //     right: 0px;
        //     position: absolute;
        //     top: 50%;
        //     z-index: 5;
        //     transform: translateY(-50%);
        //     -webkit-transform: translateY(-50%);
        //     background-color: #000000;
        //     color: #fff;
        //     width: 40px;
        //     border-radius: 50px 0px 0px 50px;
        //     height: 80px;
            
        //   }
    }
}


