.cart__header{
    padding: 30px;
    border-bottom: 1px solid #a7a7a7;
    display: flex;
    justify-content: space-between;
    h2{
        font-size: 20px;
    }
    p{
        font-weight: 600;
        opacity: .5;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .df{
        display: flex;
        align-items: center;
        gap: 10px;
        svg{
            font-size: 24px;
            opacity: .5;
        }
        h2{
            font-size: 16px;
            color: rgb(0, 109, 219);
        }
    }
}
.cart__title{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    height: 200px;
    span{
        display: flex;
        align-items: center;
        cursor: pointer;
        gap:10px ;
        font-family: Montserrat;
        opacity: .6;
        transition: .3s;
        svg{
            border-radius: 50%;
            padding: 10px;
            width: 50px;
            height: 50px;
            transition: .3s;
        }
        p{
            font-weight: 700;
        }
    }
    a.active span{
        opacity: 1 !important;
        svg{
            color: #1A5BCE;
            background-color: #E3EEFF;
            width: 70px;
            height: 70px;
        }
    }
    a{
        text-decoration: none;
        color: black;
    }
}